@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131313;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body{
  background-color: var(--background);
}

.active{
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.default{
  color: #808080;
  text-decoration: none;
  font-weight: 500;
}

.default:hover{
  color: white;
}

/* Start Banner */
.banner{
  
}

.red-bg{
  width: 495px;
  height: 495px;
  border-radius: 100%;
  background-color: #FF4155;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(130px);
  opacity: 0.2;
}

.bg-shape-one{
  position: absolute;
  background-image: url('../assets/images/line1png.png');
  width: 866px;
  height: 515px;
  /* bottom: 2px; */
  opacity: 0.2;
}

/* End Banner */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
